*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
 .save, .wrapper{
	height: 100%;
	width: 50%;
	border: 1px solid black;
}
span{
	padding: 5px;
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}